#######################################
# OS / Editor
#######################################
.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.tfvars
*.tfvars.json

# Credenciales / secretos
*.json
.env
.env.*
*.key
*.pem

# dbt
target/
dbt_packages/
logs/

# Logs genéricos
#######################################
*.log
